<br>

<% if logged_in? %>

    <h2><%= @anime.title %></h2>
    <%= link_to "Down", new_anime_watched_anime_path(@anime, "down") %>

<% else %>
    <h2>Log in to start </h2>
<% end %>

<%= link_to 'All Anime', animes_path %>